<div class="container">
  <h1>Listado de Artículos</h1>

  <ul>
    <li *ngFor="let item of articulos">
      <div class="articulo-titulo">{{item.titulo}}</div>
      <div class="botones">
        <a [routerLink]="'/blog/crear'" class="boton-crear-articulo">Crear Artículo</a>
        <a [routerLink]="'/blog/subir/' + item._id" class="boton-subir-imagen">Subir Imagen</a>
        <a [routerLink]="'/blog/editar/' + item._id"  class="boton-editar-articulo">Editar Artículo</a>
        <button class="boton-eliminar-articulo" (click)="eliminarArticuloConfirmado(item._id)">Eliminar Artículo</button>
      </div>
    </li>
  </ul>
</div>
