

<header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="assets/img/ram-logo.png" alt="Logo" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/proyectos">Proyectos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/ejercicios">Ejercicios para pruebas técnicas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/landingpage">precios</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" routerLink="/asistente">Asistente para toma de decisiones</a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link disabled">Contacto</a>
            </li> -->
          </ul>
          <!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
        </div>
      </div>
    </nav>
  </header>

  <app-precios class="precios-container"></app-precios>

 
<app-botonflotante></app-botonflotante>
