

<head>
    <title>compra exitosa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" >
  </head>
  <body>
    <div class="container">
      <h1>Compra exitosa</h1>
      <p>¡Gracias por tu compra! Si deseas agilizar el proceso, te invitamos a que tomes una captura del comprobante de pago y nos lo envíes por WhatsApp</p>
      <p> Apreciamos tu colaboración para completar tu solicitud de manera más eficiente. ¡Te brindaremos un excelente servicio!</p>
      <a [routerLink]="['/blog']">Salir</a>
    </div>
  </body>
