
.facil {
    color: green;
  }
  
  .medio {
    color: orange;
  }
  
  .dificil {
    color: red;
  }

  .indefinido {
    color: blue;
  }
  
  .active {
    font-weight: bold; /* Por ejemplo, puedes cambiar el estilo para resaltar la sección activa */
  }